<app-header></app-header>
<div class="home-container">
    <div class="all-movies">
        <div class="trending-movies">
            <div class="top">
                <h4>Trending Movies</h4>
                <div class="view-all">View All</div>
            </div>
            <div class="movies-thumbnail">
                <div class="movie" *ngFor="let movie of trendingMovies">
                    <div class="cover">
                        <img [src]="movie.cover" alt="">
                    </div>
                    <div class="detail">
                        <div class="name">{{ movie.name }}</div>
                        <div class="rating">
                            <ng-template #t let-fill="fill">
                                <i class="bi-heart-fill">
                                    <i *ngIf="fill > 0" class="bi-heart-fill filled" [style.width.%]="fill"></i>
                                </i>
                            </ng-template>
                            
                            <ngb-rating
                                [(rate)]="movie.rating"
                                [starTemplate]="t"
                                [readonly]="true"
                                [max]="5"
                            ></ngb-rating>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popular-movies"></div>
</div>
