<app-header></app-header>
<div class="home-container">
    <div class="all-movies">
        <div class="trending-movies">
            <div class="top">
                <h4>Trending Movies</h4>
                <div class="view-all">View</div>
            </div>
            <div class="movies-thumbnail">
                <div class="movie">
                    <div class="cover">
                        <img src="" alt="">
                    </div>
                    <div class="detail">
                        <div class="name"></div>
                        <div class="rating"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popular-movies"></div>
</div>
